<center><h1>Already Submitted</h1><br>
<img src="views/images/already_submitted_survey.png" class="img-fluid" alt="Already Submitted" id = "already_submitted_img">
  <article id = "thank_you_msg">
      You already submitted this survey with this email.
  </article>
</center>
