<center>
  <h1>An error occured</h1>
  <img src="views/images/email_failure.jpg" class="img-fluid" alt="Failure" id = "email_success">

<article id = "failure_msg">
      Sorry your email has not been validated.<br> Please fill out the survey again
      or contact the administrator.
</article>
</center>
