<center><h1>Email successfully validated !</h1></center>
<center><img src="views/images/email_success.png" class="img-fluid" alt="Success" id = "email_success_img"></center>
<article id = "success_msg">
  Your answers to the survey will now be shown to the administration.
</article>
