<center><h1>Thank You</h1><br>
<img src="views/images/thank_you_survey.png" alt="Thank You" id = "thank_you_img">
  <article id = "thank_you_msg">
      Thank you for submitting the survey.<br><br>
      If not done already, open the email we sent to you in order to confirm that your email address is valid.
  </article>
</center>
